@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem Vindo!</h1>
    <p>Faça login para aproveitar notícias na plataforma!</p>
    <a class="btn btn-primary" href="/login">Entrar</a>
</div>
